
<div class="form-group">
    <label>Zoom</label>
    <input type="number" step="0.05" name="zoom" ng-model="$ctrl.zoom" class="form-control"/>
</div>

<div class="form-group">
    <label>angleX</label>
    <input type="number" step="5" name="angleX" ng-model="$ctrl.angleX" class="form-control"/>
</div>
<div class="form-group">
    <label>angleY</label>
    <input type="number" step="5" name="angleY" ng-model="$ctrl.angleY" class="form-control"/>
</div>
<div class="form-group">
    <label>angleZ</label>
    <input type="number" step="5" name="angleZ" ng-model="$ctrl.angleZ" class="form-control"/>
</div>   

<div class="form-group">
    <label>rotationX</label>
    <input type="number" step="5" name="rotationX" ng-model="$ctrl.rotationX" class="form-control"/>
</div>
<div class="form-group">
    <label>rotationY</label>
    <input type="number" step="5" name="rotationY" ng-model="$ctrl.rotationY" class="form-control"/>
</div>
<div class="form-group">
    <label>rotationZ</label>
    <input type="number" step="5" name="rotationZ" ng-model="$ctrl.rotationZ" class="form-control"/>
</div>         